html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--darker);
}

#root {
    display: flex;
    flex-direction: row;
    color: var(--light);
    font-family: Inter, sans-serif;
    font-size: 0.9rem;;
}

h1, h2 {
    margin-top: 0.2rem;
}

#sidebar {
    width: var(--sidebar-width);
    background-color: var(--darkest);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

#sidebar-inner {
    padding: 10px;
}

canvas {
    position: absolute;
    left: var(--sidebar-width);
    top: 0;
    //z-index: 1;
    white-space: nowrap;
}

#vertex-canvas {
    z-index: 499;
}

#edge-canvas {
    z-index: 500;
}

#footer {
    width: 400px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: var(--darkest);
}

.sidebar-group {
    margin-bottom: 20px;
}