:root {
    --black: black;
    --white: white;
    /*--darkest: #2E3440;
    --darker: #3B4252;*/
    --darkest: #2E3440;
    --darker: #333947;
    --less-dark: #434C5E;
    --least-dark: #6a7896;
    --least-light: #aab0b9;
    --light: #e5e9f0;

    --sidebar-width: 400px;
}